*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0f1117;
    color:#fff;
    font-family:Arial,Helvetica,sans-serif;
}

.ai-generator{
    width:95%;
    max-width:1500px;
    margin:40px auto;
    display:grid;
    grid-template-columns:420px 1fr;
    gap:30px;
}

.left-panel{
    background:#181c25;
    padding:25px;
    border-radius:18px;
    border:1px solid #2b3242;
}

.left-panel h2{
    font-size:30px;
    margin-bottom:10px;
}

.subtitle{
    color:#aaa;
    margin-bottom:25px;
}

.left-panel label{
    display:block;
    margin-top:18px;
    margin-bottom:8px;
    font-weight:bold;
}

textarea{
    width:100%;
    height:140px;
    resize:none;
    padding:15px;
    border:none;
    outline:none;
    border-radius:12px;
    background:#10131b;
    color:white;
    font-size:15px;
}

select{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    background:#10131b;
    color:white;
    font-size:15px;
}

.toggle-row{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:20px;
}

#generateBtn{
    width:100%;
    margin-top:25px;
    padding:15px;
    border:none;
    border-radius:12px;
    background:#4f7cff;
    color:white;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
}

#generateBtn:hover{
    transform:translateY(-2px);
}

.right-panel{
    background:#181c25;
    border-radius:18px;
    border:1px solid #2b3242;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:700px;
    padding:20px;
}

#loadingText{
    display:none;
    text-align:center;
}

.loader{
    width:70px;
    height:70px;
    border:7px solid #444;
    border-top:7px solid #4f7cff;
    border-radius:50%;
    animation:spin 1s linear infinite;
    margin:auto;
    margin-bottom:20px;
}

@keyframes spin{

    from{
        transform:rotate(0deg);
    }

    to{
        transform:rotate(360deg);
    }

}

#outputBox{
    display:none;
    width:100%;
    text-align:center;
}

#generatedImage{
    width:100%;
    max-width:850px;
    border-radius:15px;
}

.buttons{
    margin-top:20px;
    display:flex;
    justify-content:center;
    gap:15px;
}

.buttons button{

    padding:14px 28px;

    border:none;

    border-radius:10px;

    cursor:pointer;

    background:#4f7cff;

    color:white;

    font-size:16px;

}

@media(max-width:950px){

.ai-generator{

grid-template-columns:1fr;

}

.right-panel{

min-height:500px;

}

}
