.search-section{
    width:100%;
    padding:30px;
    display:flex;
    justify-content:center;
}

#searchInput{
    width:60%;
    padding:15px;
    border:none;
    border-radius:12px;
    outline:none;
    font-size:16px;
}

.filter-section{
    display:flex;
    justify-content:center;
    gap:15px;
    margin:20px 0;
}

.filter-section button{
    padding:12px 20px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;
}

.assets-grid{
    width:90%;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(180px, 1fr));
    gap:20px;
    padding:30px 0;
}

.asset-card{
    background:#111;
    border-radius:15px;
    padding:12px;
    text-align:center;
    transition:0.3s;
    display:flex;
    flex-direction:column;
    gap:10px;
}

.asset-card:hover{
    transform:translateY(-5px);
}

.asset-card img{
    width:100%;
    height:160px;
    object-fit: contain;
    background:#1a1a1a;
    border-radius:12px;
    padding:10px;
}

.asset-card h3{
    margin:12px 0;
    font-size:16px;
    min-height:40px;
}

.asset-card button{
    width:100%;
    padding:10px;
}
